<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresá</title>
    <link href="https://fontawesome.com/icons?d=gallery&m=free" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/3b2063ef28.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link href="/css/style3.css" rel="stylesheet" />
<body>
    <header class="main-header">
        <div class="main-header-top">
          <div class="contenedor-logoBarra">
           <img src="/img/logo-mercado-liebre.svg" class="logo"/>
            <form>
             <input type="text" placeholder="Buscar productos, marcas y más" />
             <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
          <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h2>
        </div>
        <a href="#" class="burguer-button"><i class="fa-solid fa-bars"></i></a>
        <br />
        <nav class="main-navbar">
          <ul class="formato-menu">
            <li><a href="#"> Ofertas</a></li>
            <li><a href="#"> Tiendas Oficiales</a></li>
            <li><a href="#"> Vender</a></li>
            <li><a href="#"> Ayuda</a></li>
          </ul>
          <ul class="formato-menu">
            <li>
              <a href="/register"> Creá tu cuenta</a>
              <i class="fa-solid fa-id-card"></i>
            </li>
            <li>
              <a href="/login"> Ingresá</a>
              <i class="fa-solid fa-right-to-bracket"></i>
            </li>
            <li>
              <a href="#">Mis compras</a>
              <i class="fa-solid fa-basket-shopping"></i>
            </li>
          </ul>
        </nav>
      </header>

    <form class="formulario">
        <div class="control-formulario">
            <input type="text" name="nombreusuario" placeholder="Nombre de Usuario" class="formulario1">
        </div>
        <div class="control-formulario">
            <input type="password" name="contraseña" placeholder="Elegí tu contraseña" class="formulario1">
        </div>
        <div class="control-formulario">
            <a href="/"><button class="formulario2">
                  Enviar 
            </button></a>
        </div>
    </form>
    
    <footer>
      <div class="control-footer1">
       <div class="iconos-footer"><i class="fa-solid fa-id-card"></i></div>
       <h4 class="texto1">Pagá con tarjeta o en efectivo</h4>
       <h6 class="texto">
         Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
         en puntos de pago. ¡Y siempre es seguro!</h6>
      </div>
      <div class="control-footer2">
       <div class="iconos-footer"><i class="fa-solid fa-gift"></i></div>
       <h4 class="texto1">Envío gratis desde los $2.500</h4>
       <h6 class="texto">
         Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
         de productos. Es un beneficio de Mercado Puntos.</h6>
     </div>
     <div class="control-footer3">
       <div class="iconos-footer"><i class="fa-solid fa-user-shield"></i></div>
       <h4 class="texto1">Seguridad, de principio a fin</h4>
       <h6 class="texto">
         ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
         hacer, porque estás siempre protegid@.</h6>
       </div>
       <h6 class="texto3">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
</body>